{
  "hook_url": "ws://localhost:6677",
  "hook_filter": "",
  "debugport": 9222,
  "brave_bin": "",
  "brave_profile": "~/.cache/vn-translate/brave-cdp-profile",
  "deepl_url": "https://www.deepl.com/en/translator",
  "srclang": "ja",
  "tgtlang": "en",
  "cdp_timeout": 30,
  "browser_hidden": true,
  "context_lines": 6
}
